# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\a\行为检测\behavior_check_before\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
